body
{
}

.h1 {
    padding: 15px 0;
}

.edit__username{
    background-color: transparent;
}

.edit__label {
    padding-bottom: 60px;
    padding-top: 50px;
    font-size: 25px;
}

.edit__textarea {
    padding: 50px;
    background-color: #C1B510;
    color: #000000;
    border-radius: 20px;
}

.edit__submit {
    width: 70px;
    height: 35px;
    margin-top: 50px;
    background-color: #312828;
    color: #2bcbbd;
}