<html>
<head>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="{{ url_for("static", filename="js/script.js") }}"></script>
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/menu.css") }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@100&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li>
                            <a href="{{ url_for('index') }}"> Home</a>
                        </li>
                        {% if current_user.is_anonymous %}


                        <li>
                            <a href="{{ url_for('login') }}"> Sign in</a>
                        </li>
                        {% else %}


                        <li>
                            <a href="{{ url_for('user', username=current_user.username) }}"> Profile</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}"> Logout</a>
                        </li>
                        <li>
                            <a href="{{ url_for('explore') }}"> Explore</a>
                        </li>
                    </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    <footer class="footer">
        Создатель: Джафаров Эмиль
    </footer>
</body>
</html>